
week01/.ipynb_checkpoints/HW-01-checkpoint.ipynb
week02/.ipynb_checkpoints/HW-02-checkpoint.ipynb
week02/.ipynb_checkpoints/lab2-checkpoint.ipynb
week03/.ipynb_checkpoints/lab3-checkpoint.ipynb
week03/.ipynb_checkpoints/HW-03-checkpoint.ipynb
week01/HW-01.ipynb
week01/HW-01.ipynb
